@import url("colors.css");

* {
  margin: 0%;
  padding: 0%;
}

#root, html, body{
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(48, 49, 49);
  background-color: var(--background)
}