<<<<<<< HEAD
:root {
  --purple: #5e36f5;
  --black: rgb(80, 74, 74);
  --background: #eef2f8;
  --background-hover: #ebf4ff;
  --blue-dark: #4e75e0;
  --blue-light: #429bff;
  --gray: #9ea7b7;
}
=======
:root {
    --purple: #5e36f5;
    --black: rgb(80, 74, 74);
    --background: #eef2f8;
    --blue: #4e75e0;
}
>>>>>>> e218fc72a64e6b9b1a504700b4ffc9ce1f54a667
