.display-area-container {
  color: var(--black);
  width: 49%;
  min-height: 80%;
  border-radius: 0.5rem 0 0 0;
  background: white;
}

.text-input-container {
  width: 100%;
  height: 90%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 80%;
  height: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
  resize: none;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  background-color: var(--background);
  outline: none;
}
