@import url("colors.css");

.upload-video-container {
  color: var(--black);
  width: 49%;
  min-height: 80%;
  border-radius: 0 10px 0 0;
  background: white;
}

.load-options {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.options-url-upload {
  list-style: none;
  padding: 0.5rem;
  color: var(--gray);
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-url-upload:hover {
  border-radius: 0.3rem;
  background-color: var(--background-hover);
  color: var(--blue-light);
}

.options-url-upload:hover:nth-child(2) {
  border-radius: 0.3rem 0 0.3rem 0.3rem;
}

.option-text {
  margin-left: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
}

.choose-text {
  font-size: 1rem;
  padding: 1rem;
  padding-left: 2.5rem;
  color: var(--black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.05rem;
  font-weight: 700;
}

.separator {
  border: 0.15rem solid var(--background);
  color: rgba(68, 68, 68, 0.24);
}
