.btn-load-video {
  min-height: 2.5rem;
  width: 10rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: var(--blue-light);
  color: white;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
}

.btn-load-video:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.6rem 0.6rem -0.3rem var(--blue-dark);
  background-color: var(--blue-dark);
  cursor: pointer;
}
