.result-viewer-container {
  color: var(--black);
  width: 49%;
  border-radius: 0.5rem;
  background: white;
  min-height: 34rem;
}

.text-input-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.text-input {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  outline: none;
}
.loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  border: 16px solid var(--background);
  border-top: 16px solid var(--blue-light);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
