* {
  margin: 0%;
  padding: 0%;
}

:root {
  --black: rgb(80, 74, 74);
  --background: #eef2f8;
  --background-hover: #ebf4ff;
  --blue-dark: #4e75e0;
  --blue-light: #429bff;
  --gray: #9ea7b7;
  --placeholder: rgba(78, 78, 78, 0.349);
}

#root,
html,
body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
  background-color: var(--background);
}

.main-content-container {
  min-height: 80%;
  color: var(--black);
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
}
